<div class="wrapper" >
    <section class="section cont">
        <div class="title container">
            
            <h1 class="title">Update Page</h1>
        </div>
            
            <div *ngIf="term" class="content-wrapper" id="">
                <div class="controls">
                    <button class="save-control" (click)="update(term)">
                        <fa-icon [icon]="faSave"></fa-icon>
                    </button>
                    
                </div>
                <div class="content-container">
                    
                    <div class="field">
                        <label class="label" ><h3 class="sub-title">Term</h3></label>
                        <!-- {{(term|async).term}} -->
                        <div class="control">
                            <input class="term" [(ngModel)]="term.term">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label"><h3 class="sub-title">Description</h3></label>
                        <div class="control">
                            <textarea class="description" [(ngModel)]="term.desc"></textarea>
                        </div>
                    </div>
                    <div>
                        <h3 class="sub-title">Tags</h3>
                        <div class="tags-container">
                            
                            <div *ngFor="let tag of term.tags; let i=index; trackBy:trackByFn" class="tag">
                                <input #input id="{{i}}" class="term tag" [value]="term.tags[i]" (input)="updateTag(i, input.value)">
                            </div>
                            <div class="hidden" tagHost></div>
                            <div  >
                                <button class="add" id="addTag" (click)="addTag()"><fa-icon [icon]="faPlus"></fa-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>