


.container {
    min-height: 1000px;
    background-color: #1F2027;
}

#add {
    /* width: 100%; */
    align-content: center;
}

.add-div{
    background-color: white;
}


.search-div{
    background-color: white;
}



.round {
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border:6px solid black;
    margin: auto;
    margin-top: 50px;
    
    /* background: url(~/assets/search.png) fixed center no-repeat ; */
}

fa-icon {
    font-size: 3rem;
    color :black;
}

fa-icon:hover{
    font-size: 3.5rem;
    position:relative;
    top:-5px;
}
