:host {
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    position: absolute;
}

div.outer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(30, 29, 29, 0.94);
    margin: 0;
    /* padding: 15px 10%; */
    width: 100%;
    height: 100%;
    z-index: 9999;
}

div.inner {

    background-color: white;
    width: 90%;
    height: 80%;
    padding: 0;
    border-radius: 2px;
    padding: 30px;
    overflow: hidden;
    border:2px solid black;

    position: fixed;
  
    margin: 5%;
    padding-bottom: 30px;
    
}
/* VERY IMPORTANT 
    nodes that does scrolling on overflow-y require a height to be attributed to it
*/
div.content {
    width: 90%;
    height: 90%;
    margin: 3% 5%;
    padding-right: 20px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
}

#overview {
    word-wrap: break-word;
}

div.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.link p {
    margin: 0 7px;
}

.sub-title {
    margin: 5px 0;
}

.toggler-holder {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 30px;
    height: 40px; /* trial and error to place icon in a good position */
}

#toggler {
    width: 50px;
    height: 50px;
    margin:0 auto;
}

.visible{
    display: block;
}

.hidden {
    display: none;
}

#mark-area {
    min-width: 100%;
    /* max-width: 90%; */
    min-height: 300px;
    resize: none;
    padding: 5px;
    border: 2px solid black;
}

div.resume-holder {
    margin-bottom: 25px;
}

.resume-toggler fa-icon {
    font-size: 20px;
    position: relative;
    left: 20px;
}

.resume-toggler h2 {
    display: inline-block;
    margin-top: 0;
}

.resume p {
    margin-left: 15px;
}