/* You can add global styles to this file, and also import other style files */
@import "~bulma/css/bulma.css";

body{
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}


div.line {
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 25px;
}