/* @import "~bulma/css/bulma.css"; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
/* 
* {
    border: 1px dotted green;
} */

.wrapper {
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
    
}

.cont {
    height: 100%;
    width: 70%;
    padding: 0;
    margin: 0 0 20% 10%;
    
}

.control {
    width:200px;
}

.buttons button {
    margin-right: 20px;
    margin-top: 20px;
}


.section {
    margin: 0;
}


.section.content {
    /* background-color: rgba(127, 255, 212, 0); */
    width: 100%;
    height: auto;
}

.content-container {
    margin: 150px 150px;
}

div.title{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px;
    text-align: center;
   
    /* padding: 25px; */
}

h1.title {
    color: black;
    font-family: 'Roboto' Arial, sans-serif;
    font-size: larger;
    font-weight: 400;
}

h4.term {
    color:black;
}

.search-field {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 150px;
}


#searchIn{
    box-sizing: border-box;

    border:5px solid black ;
    padding: 20px;
    padding-left: 50px;
    margin: 0;
    width: 100%;
    height: 50px;
    border-radius: 50px; /* percentage value does not behave*/
    font-size: x-large;
    margin-left: auto;
    
    
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 700;
    margin-left: 20px;
}

.underline {
    text-decoration: underline;
}


.card {
    border: 3px solid black;
    border-radius: 0;
    width: 80%;
    display: inline-block;
    /* border: 5px dotted red; */
    
    overflow: scroll;
    overflow-x: hidden;
}


h4{
    color: #000000;
}



.card-wrapper {
    height: 200px;
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-bottom:50px ;
}

.controls {
    width: 75px;
    height: 100%;
    margin: 0;
}

.controls button {
    display: block;
}

div.card-cont {
    padding: 10px;
}

.add-control, .remove-control {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    position: relative;
    right: 0;
    border-radius: 50%;
    margin: 5px auto;
}

.add-control {
    background-color: #25C335;
}

.add-control:hover {
    background-color: #1c8626;
    cursor: pointer;
}

.remove-control {
    background-color: #CC2A2A;
}
.remove-control:hover {
    background-color: #9c2020;
    cursor: pointer;
}

fa-icon {
    color:black;
}

div.tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

div.tag {
    border: 2px solid black;
    background: rgba(165, 160, 160, 0.37);
    color: black;
    border-radius: 25px;
    margin: 5px;
    font-size: 0.9em;
}

div.link-row {
    display: flex;
}

div.link {
    margin-left: 10px;
}

.search-parent {
    width: 100%;
    height: 100%;
    display: inline-block;
}


/* .categories-holder{
    width: 150px;
    height: 50px;
    

}  */

div.arrow {
    display: inline-block;
    position: absolute;

    right: 80;
    font-size: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 5px solid black;
}

div.arrow:hover {
    background-color: grey;
    cursor: pointer;
}

.ar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.categories {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 0;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;

    
}

.category {
    
    width: 100px;
    background-color: white;
    color:#1F2027;
    font-size: 20px;
    text-align: center;
    
}
.category:hover {
    background-color: rgb(184, 179, 179);
}

 fa-icon.arrow-down {
    width: 50px;
    height: 50px;
    position: relative;

    text-align: center;
    
}

p.selected {
    color:#fff;
    background-color:#1f2027;
}