<div class="wrapper">

    <div class="cont">
        

        <section class="section content">
            <div class="container title">
                <h1 class="title">Search Page</h1>
            </div>   
            <div class="container">
                <div class="search-field">
                    <div class="search-parent">
                    <div class="categories-holder"></div>
                        <div class="arrow" (click)="toggleCategories()">
                            <div class="ar">
                               <div>
                                <fa-icon class="arrow-down" [icon]="categoriesArrow"></fa-icon></div>
                               </div>
                            </div>

                        
                        <input type="search" class="" #searchIn id="searchIn" (input)="search(searchIn.value)">
                    </div>  
                </div>
                
                <div *ngFor="let term of terms"  class="card-wrapper">
                    <div class="controls">
                        <a routerLink="/update/{{term._id}}">
                                <button  class="add-control" >
                                    <span class="">
                                        <fa-icon [icon]="faPen"></fa-icon>
                                    </span>
                                </button>
                        </a>
                        <button class="remove-control" (click)="delete(term._id, term.term)">
                            <span class="icon is-small">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </span>
                        </button>
                    </div>
                    <div  class="card" >

                            <div class="card-cont">
                                <h4 class="term">{{term.term | uppercase}}</h4>
                                <div class="card-text">{{term.desc}}</div>
                                <div class="tags-container">
                                    <div #tag (click)="filter(tag)" class="tag" *ngFor="let tag of term.tags">
                                        <p><span>#</span>{{tag}}</p>
                                    </div>
                                </div>
                                <div class="links-container">
                                    <div *ngFor="let link of term.links" class="link-row">
                                        <fa-icon [icon]="faArrowRight"></fa-icon>
                                        <div class="link"><p><a href="{{link.value}}" target="_blank" >{{link.alias}}</a></p></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</div>